
weights/*


datasets/**/images/
datasets/**/images/*

.ipynb_checkpoints

inference_results/*

!inference_results/.gitkeep

.codegraph

hf_models/*

hf_models/.gitkeep

__pycache__/

pkg/eaglevl/locate_anything.egg-info/

datasets/**/work_dirs/*